.modal-member div.head {
	height: 100%;
	vertical-align: middle;
}

.modal-member div.head div {
	border: 1px solid #dedede;
	height: 100%;
	background-color: #d8fcff;
	border-bottom: none;

	display: flex; 
	justify-content: center; 
	align-items: center;

	padding: 3px;
}

.modal-member div.head div label, .modal-member div.detail div label {
	margin-bottom: 0px;
}

.modal-member div.detail {
	height: 7%;
	vertical-align: middle;
}

.modal-member div.detail div {
	/*border-bottom: 1px solid #dedede;*/
	height: 100%;
	/*border: none;*/

	display: flex; 
	justify-content: center; 
	align-items: center;
}

.modal-member div.detail.putih div {
	background-color: #ffffff;
}

.modal-member div.detail.abu div {
	background-color: #eeeeee;
}

.modal-member div.detail.merah div {
	background-color: #d9534f;
}

.modal-member div.detail:hover div {
	background-color: #dedede;
}

.modal-open .modal {
    overflow: hidden;
}

.modal-member div.search input[type="search"] {
	height: auto;
	padding: 3px;
}
.modal-member div.search i.glyphicon {
	padding: 5px 12px;
}

.modal-saldo-member div.search input[type="search"] {
	height: auto;
	padding: 3px;
}
.modal-saldo-member div.search i.glyphicon {
	padding: 5px 12px;
}

.modal-member .modal-body {
	padding-top: 5px;
}

.modal-member .head_member {
	height: 7%;
}
.modal-member .list_member {
	border: 1px solid #dedede;
	height: 94%;
}

.modal-saldo-member div.head {
	height: 100%;
	vertical-align: middle;
}

.modal-saldo-member div.head div {
	border: 1px solid #dedede;
	height: 100%;
	background-color: #d8fcff;
	border-bottom: none;

	display: flex; 
	justify-content: center; 
	align-items: center;

	padding: 3px;
}

.modal-saldo-member div.head div label, .modal-saldo-member div.detail div label {
	margin-bottom: 0px;
}

.modal-saldo-member div.detail {
	height: 7%;
	vertical-align: middle;
}

.modal-saldo-member div.detail div {
	/*border-bottom: 1px solid #dedede;*/
	height: 100%;
	/*border: none;*/

	display: flex; 
	justify-content: center; 
	align-items: center;
}

.modal-saldo-member div.detail.putih div {
	background-color: #ffffff;
}

.modal-saldo-member div.detail.abu div {
	background-color: #eeeeee;
}

.modal-saldo-member div.detail.merah div {
	background-color: #d9534f;
}

.modal-saldo-member div.detail:hover div {
	background-color: #dedede;
}

.modal-saldo-member .head_sm {
	height: 7%;
}
.modal-saldo-member .list_sm {
	border: 1px solid #dedede;
	height: 94%;
}

/* SELECT2 */
.bootstrap-select>.dropdown-menu {
	min-height: 100px !important;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder.disabled { 
	color: #555;
	background-color: #ccc;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover:not(.disabled) { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle.disabled { 
	color: #555; 
	background-color: #ccc;
	border: 1px solid #ccc;
}
.bootstrap-select>.dropdown-toggle:hover:not(.disabled) { 
	color: black; 
	background-color: transparent;
	border: 1px solid #ccc;
}
.bootstrap-select.has-error {
    border: 1px solid #a94442;
}

.btn-add-row, .btn-remove-row {
	padding: 0px 3px 0px 3px;
	font-size: 10px;
}

span.select2 {
	width: 100%!important;
}

span.select2-selection__arrow {
	margin-top: 3px!important;
}

span.select2-selection {
	height: 34px!important;
    padding-top: 2px!important;
}

.has-error .select2-selection {
	border-color: rgb(185, 74, 72) !important;
}
/* END - SELECT2 */